<h2>Recently Added</h2>
<br>
<div class="container" style="max-width: 835px;">
  <div class="row row-cards" id="books">
    <% books.forEach(book => { %>
      <div class="col-sm-4 col-lg-4">
        <div class="card p-2" style="height: 300px; width: 200px;">
            <a href="javascript:void(0)" class="mb-3">
                <img src="<%= book.coverImagePath %>" alt="" class="rounded"
                style="height: 225px; width: 100%;">
            </a>
            <div class="align-items-center" id="category">
                <span><%= book.title %>, By <%= book.author %></span>
            </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>